/* build the chessborad */
table {
	width: 400px;
	height: 400px;
	table-layout: fixed;
}
td {
	height: 12%;
	width: 12%;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}
tr.rank_8 td:nth-child(even),
tr.rank_6 td:nth-child(even),
tr.rank_4 td:nth-child(even),
tr.rank_2 td:nth-child(even){
	background-color: gray;
}
tr.rank_8 td:nth-child(odd),
tr.rank_6 td:nth-child(odd),
tr.rank_4 td:nth-child(odd),
tr.rank_2 td:nth-child(odd){
	background-color: lightgray;
}
tr.rank_7 td:nth-child(even),
tr.rank_5 td:nth-child(even),
tr.rank_3 td:nth-child(even),
tr.rank_1 td:nth-child(even){
	background-color: lightgray;
}
tr.rank_7 td:nth-child(odd),
tr.rank_5 td:nth-child(odd),
tr.rank_3 td:nth-child(odd),
tr.rank_1 td:nth-child(odd){
	background-color: gray;
}

#chessboard td:hover{
	background-color: lightgreen;
}
/* now style the pieces */
.black {
	font-weight: bold;
	color: black;
}

.white {
	font-weight: bold;
	color: white;
}
