table {
	width: 400px;
	height: 400px;
	table-layout: fixed;
}
td {
	height: 12%;
	width: 12%;
	border: 1px solid black;
	text-align: center;
	vertical-align: center;
}
tr.row_8 td:nth-child(even),
tr.row_6 td:nth-child(even),
tr.row_4 td:nth-child(even),
tr.row_2 td:nth-child(even){
	background-color: gray;
}
tr.row_8 td:nth-child(odd),
tr.row_6 td:nth-child(odd),
tr.row_4 td:nth-child(odd),
tr.row_2 td:nth-child(odd){
	background-color: lightgray;
}
tr.row_7 td:nth-child(even),
tr.row_5 td:nth-child(even),
tr.row_3 td:nth-child(even),
tr.row_1 td:nth-child(even){
	background-color: lightgray;
}
tr.row_7 td:nth-child(odd),
tr.row_5 td:nth-child(odd),
tr.row_3 td:nth-child(odd),
tr.row_1 td:nth-child(odd){
	background-color: gray;
}
