* {
	box-sizing: border-box;
}
body {
	text-align: center;
	margin-right: 0;
	margin-left: 0;
}
.game_window {
	display: inline-block;
	box-shadow: 0 0 25px -5px;
}
h1 {
	background-color: #7F8286;
	border-bottom: thick solid #434041;
	border-top: thick solid #434041;
	color: white;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
}
td {
	height: 35px;
	width: 35px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
@media (min-width: 600px) {
	td {
	height: 60px;
	width: 60px;
	}
}
tr.rank_8 td:nth-child(even),
tr.rank_6 td:nth-child(even),
tr.rank_4 td:nth-child(even),
tr.rank_2 td:nth-child(even){
	background-color: #7B9B4A;
}
tr.rank_8 td:nth-child(odd),
tr.rank_6 td:nth-child(odd),
tr.rank_4 td:nth-child(odd),
tr.rank_2 td:nth-child(odd){
	background-color: #B4C889;
}
tr.rank_7 td:nth-child(even),
tr.rank_5 td:nth-child(even),
tr.rank_3 td:nth-child(even),
tr.rank_1 td:nth-child(even){
	background-color: #B4C889;
}
tr.rank_7 td:nth-child(odd),
tr.rank_5 td:nth-child(odd),
tr.rank_3 td:nth-child(odd),
tr.rank_1 td:nth-child(odd){
	background-color: #7B9B4A;
}

.piece {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.chessboard td:hover{
	background-color: yellow;
}
/* now style the pieces */
.black {
	font-weight: bold;
	color: black;
}

.white {
	font-weight: bold;
	color: white;
}
.game_info {
	border-bottom: thick solid #434041;
	border-top: thick solid #434041;
	margin-top: 1em;
	background-color: #7F8286;
	overflow: auto;
}
.pieces_info {
	vertical-align: top;
	width: 180px;
	display: inline-block;
	height: 180px;
}
.pieces_info .piece {
	display: inline-block;
	max-width: 30px;
	max-height: 30px;
}
.promo_popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9em;
	background-color: white;
	border: 2px solid black;
}
